p {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.navbar-custom {
    background-color: #00686E !important;
}


h6 {
    font-size: 80px;
}

.jumbotron {
    background-color: #D9EBEC;
}

h1,h2{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 20px;
}

header h1 {
   color:white;
   font-size : 100px !important;
}
header h2 {
   color:white;
   font-size : 20px !important;
   padding-top: 20px;
   padding-bottom: 40px;
}

button {
    font-family: 'Montserrat', sans-serif;
    
}

.btn-secondary {
    background-color: black !important;
}


.btn {
    background-color: #00686E !important;
    color: white !important;
}

.btn:hover {
    background-color: #00555A !important;
    color: white !important;
}

body {
   background-color: #fff;
}






header {
background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/bg.jpg);
background-size: cover;
background-position: center;
height: 100vh;
}

.main-title {
    font-family: 'Ubuntu', sans-serif;

    color: white;
    text-transform: uppercase;
    font-size: 320%;
    font-weight: 700;
}

.contenu {
    padding-top: 200px;
}


